body {
  background-color: #fff;
  font-family: 'Assistant', sans-serif;
  color: #074456;
  overflow-x: hidden;
}

// navbar
.navbar-brand {
  img {
    max-height: 30px;
    margin: 6px 0 6px 5px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #074456;

      &.active {
        font-weight: bold;
        color: #074456 !important;
      }
    }
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #074456;
  color: #fff;

  &:hover {
    background-color: #0f5a6e;
    color: #fff;
  }
}

// header
header {
  padding: 180px 0 165px;
  margin-top: -68px;
  background-image: url('../images/header2.jpg');
  background-size: cover;

  h1, p {
    color: #fff;
  }

  h1 {
    font-family: 'Sen', sans-serif;
    font-size: 46px;
  }

  p {
    font-size: 18px;
  }

  .btn-get-started {
    background-color: #FF9E53;
    color: #fff;

    &:hover {
      background-color: #FFAA69;
      color: #fff;
    }
  }
}

// statistik
.section-stats {
  margin-top: -50px;

  .stats-detail {
    padding-top: 15px;
    background-color: #fff;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    margin-bottom: 0;
    font-weight: 600;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }
}

// popular
.section-popular {
  min-height: 540px;
  background-color: #063644;
  margin-top: -50px;
  margin-bottom: -230px;

  .section-popular-heading {
    margin-top: 150px;

    h2,p {
      color: #fff;
    }

    h2 {
      font-family: 'Sen', sans-serif;
      font-weight: bold;
      font-size: 30px;
    }

    p {
      font-size: 16px;
    }
  }
}

.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #ddd;
      color: #fff;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;
    }

    .travel-country {
      font-size: 16px;
      color: #fff;
    }
    
    .travel-location {
      font-size: 22px;
      color: #fff;
    }

    .travel-button {
      .btn-travel-details {
        background-color: #FF9E53;
        color: #fff;

        &:hover {
          background-color: #FFAA69;
        color: #fff;
        }
      }
    }
  }
}

// networks
.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;

  h2 {
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }

  img {
    max-width: 100%;
  }
}

// testimonial
.section-testimonial-heading {
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;

  h2 {
    font-family: 'Sen', sans-serif;
    font-weight: bold;
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;

  .card-testimonial {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 20px;

    .testimonial-content {
      min-height: 200px;
    }

    h3 {
      font-size: 22px;
      font-weight: 400;
    }

    .testimonial {
      font-size: 21px;
      color: #6e6e6e;
      min-height: 130px;
      font-weight: 200;
    }

    .trip-to {
      font-weight: normal;
      font-size: 20px;
      color: #6e6e6e;
    }

    hr {
      margin-left: -20px;
      margin-right: -20px;
    }
  }

  .btn-get-started {
    background-color: #FF9E53;
    color: #fff;

    &:hover {
      background-color: #FFAA69;
      color: #fff;
    }
  }

  .btn-need-help {
    background-color: #f2f2f2;
    color: #c3c3c3;

    &:hover {
      background-color: #fafafa;
      color: #c3c3c3;
    }
  }
}

// footer
.section-footer {
  h5 {
    font-weight: 400;
  }

  a {
    color: #074456;
  }
}

.section-details-header {
  min-height: 310px;
  background: #E4E6EB;
  margin-top: -70px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 30px;
  }

  .breadcrumb-item {
    a {
      color: #074456;
    }

    a:hover {
      text-decoration: none;
    }

    &.active {
      font-weight: bold;
      color: #074456;
    }
  }

  .card-details {
    padding: 30px;
    border-radius: 11px;    

    h1 {
      font-size: 26px;
      font-weight: 500;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 18px;
      color: #B1B1B1;
    }

    h3 {
      font-weight: 600;
      font-size: 14px;
      color: #074456;
    }

    .trip-informations {
      th {
        font-weight: 300;
        font-size: 18px;
        color: #074456;
      }

      td {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
      }

      .text-blue {
        color: #074456;
        font-weight: bold;
      }

      .text-orange {
        color: #FF9E53;
        font-weight: bold;
      }
    }

    .payment-instructions {
      font-weight: 300;
      font-size: 14px;
      color: #B1B1B1;
    }

    .bank {
      .bank-item {
        h3 {
          font-size: 18px;
          color: #074456;
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
        }

        .description {
          margin-left: 10px;
          overflow: hidden;
          float: left;

          p {
            font-weight: normal;
            font-size: 16px;
            color: #074456;
          }
        }
      }

      .bank-image {
        width: 45px;
        height: 45px;
        float: left;
      }
    }

    .disclaimer {
      font-weight: 300;
      font-size: 14px;
      color: #b1b1b1;
    }

    .gj-datepicker {
      .datepicker {
        border-right: 0;
      }

      .input-group-append {
        .btn {
          padding-right: 30px;
        }

        img {
          height: 20px;
        }
      }
    }

    .btn-add-now {
      background-color: #074456;
      color: #fff;

      &:hover {
        background-color: #0f5a6e;
      }
    }

  }

  .card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }

  .features {
    margin-top: 20px;

    h3 {
      font-size: 18px;
      color: #074456;
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0;
    }

    .description {
      margin-left: 10px;
      overflow: hidden;
      float: left;
    }

    .features-image {
      width: 45px;
      height: 45px;
      float: left;
      margin-bottom: 15px;
    }
  }

  .gallery {
    .xzoom-container {
      display: block;

      .xzoom {
        width: 100%;
        box-shadow: none;
        margin-bottom: 10px;
      }
      
      .xactive {
        border: 4px solid #1ABC9C;
        box-shadow: none;
      }
    }
  }

  .members {
    .member-image {
      width: 40px;
      height: 40px;
    }
  }

  .join-container {
    margin-top: -16px;
  }

  .btn-join-now {
    background-color: #FF9E53;
    color: #fff;
    border-radius: 0;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    font-weight: 600;

    &:hover {
      background-color: #FFAA69;
      color: #fff;
    }
  }
}

.section-success {
  height: 90vh;

  img {
    height: 266px;
    width: 266px;
  }

  h1 {
    font-weight: 600;
    font-size: 26px;
    color: #074456;
  }

  p {
    font-weight: 300;
    font-size: 18px;
    color: #B1B1B1;
  }

  .btn-home-page {
    border-radius: 4px;
    background-color: #074456;
    color: #fff;

    &:hover {
      background-color: #0f5a6e;
    }
  }
}

@media (max-width:500px) {
  .xzoom-gallery {
    width: 80px;
  }

  .section-stats {
    h2 {
      font-size: 21px;
    }
  
    p {
      font-size: 16px;
    }
  }
}